<h4>These pets are looking for a home!</h4>

<a [routerLink]="['/pets/new']">Add a pet to the shelter</a>

<table>
  <tr>
    <th><h4>Type</h4></th>
    <th><h4>Actions</h4></th>
    <th><h4>Name</h4></th>
  </tr>
  <tr *ngFor="let pet of pets">
    <td><h4>{{pet.name}}</h4></td>
    <td><h4>{{pet.type}}</h4></td>
    <td><button class="btn btn-primary" [routerLink]="['/pets', pet._id]">Details</button><button class="btn btn-warning" [routerLink]="['/pets', pet._id, 'edit']">Edit</button></td>
  </tr>
</table>